﻿<div class="b-modal b-modal-order">
    <a class="b-modal-order__link b-modal-order__link--close" href="" ng-click="modal.close()" title="close this window">close</a>
    <h1 class="b-modal-order__title">Order</h1>
    <div class="b-modal-order__property">
        <label>Number:</label>
        <span>{{modal.Order.Number}}</span>
    </div>
    <div class="b-modal-order__property">
        <label>ID:</label>
        <span>{{modal.Order.Id | leadingZero:7}}</span>
    </div>
    <div class="b-modal-order__property">
        <label>Creation Date:</label>
        <span>{{modal.Order.CreationDate}}</span>
    </div>
    <div class="b-modal-order__property">
        <label>Life Time:</label>
        <span>{{modal.Order.LifeTime}}</span>
    </div>
    <div class="b-modal-order__property">
        <label>State:</label>
            <select class="resolve-bug-select" ng-model="modal.Order.State" ng-change="modal.updateOrderState()" ng-options="value.Key as value.Value for (key, value) in modal.OrderStates">
                <option ng-repeat="State in modal.OrderStates" value="{{State.Key}}" ng-selected="modal.Order.State == State.Key">{{State.Value}}</option>
            </select>
    </div>
    <div class="b-modal-order__property">
        <label>Amount:</label>
        <span>{{modal.Order.Amount}}</span>
    </div>
    <div class="b-modal-order__property">
        <label>Description:</label>
        <span>{{modal.Order.Description}}</span>
    </div>
    <div class="b-modal-order__property">
        <label>Lines:</label>
        <table ng-if="modal.Order.Lines.length > 0">
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Product</td>
                    <td>Count</td>
                    <td>Price</td>
                    <td>Total</td>
                    <td>State</td>
                </tr>
            </thead>
            <tr ng-repeat="Line in modal.Order.Lines track by Line.Id" class="b-modal-order__line" ng-class="Line.State == 0 ? 'b-modal-order__line--draft' : Line.State == 1 ? 'b-modal-order__line--in-process' : 'b-modal-order__line--done'">
                <td>{{Line.Id}}</td>
                <td>{{Line.ProductName}}</td>
                <td>{{Line.Count}}</td>
                <td>{{Line.Price}}</td>
                <td>{{Line.Total}}</td>
                <td>
                    <select class="resolve-bug-select" ng-model="Line.State" ng-change="modal.updateOrderLineState(Line)" ng-options="value.Key as value.Value for (key, value) in modal.OrderLineStates">
                        <option ng-repeat="State in modal.OrderLineStates" value="{{State.Key}}" ng-selected="Line.State == State.Key">{{State.Value}}</option>
                    </select>
                </td>
            </tr>
        </table>
        <span ng-if="!modal.Order.Lines || modal.Order.Lines.length == 0">No lines</span>
    </div>
</div>
<div class="b-modal-background"></div>
