﻿@using TestBilletKontoret.UI.Models
@model LoginViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link rel="stylesheet" href="~/Styles/login.css" />
</head>
<body>
    @using(Html.BeginForm())
    {
        <div class="b-auth-form">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <section>
                @Html.LabelFor(model => model.Login)
                @Html.TextBoxFor(model => model.Login, new { @class = "b-auth-form__login" })
                @Html.ValidationMessageFor(model => model.Login)
            </section>
            <section>
                @Html.LabelFor(model => model.Password)
                @Html.TextBoxFor(model => model.Password, new { @class = "b-auth-form__password" })
                @Html.ValidationMessageFor(model => model.Password)
            </section>
            <section>
                <input class="b-auth-form__submit" type="submit" value="Log In" />
            </section>
        </div>
    }
</body>
</html>
