﻿form {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.b-auth-form label {
    display: block;
}
.b-auth-form__login, .b-auth-form__password {
    border: 1px solid grey;
    margin: 5px 0px 0px 0px;
}
.b-auth-form__submit {
    margin: 5px 0px 0px 0px;
    position: absolute;
    right: 0px;
}
