.b-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  max-width: 550px;
  min-width: 330px;
  height: auto;
  z-index: 2000;
  background-color: white;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.2s;
  animation-name: fadeIn;
  animation-duration: 0.2s
}

.b-modal-background {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    background: #000;
    background: rgba(0, 0, 0, .8);
    z-index: 1999;
    top: 0;
    left: 0;
}

.b-modal-order {
    padding: 0px 20px 20px 20px;
}
.b-modal-order label {
    font-weight: bold;
}
.b-modal-order__property {
    margin: 5px 0px 5px 0px;
}
.b-modal-order__link--close {
    position: absolute;
    top: 5px;
    right: 10px;
}
.b-modal-order__line--draft {
    background-color: yellow;
    background-color: rgba(255, 255, 0, 0.5);
}
.b-modal-order__line--in-process {
    background-color: blue;
    background-color: rgba(0, 0, 255, 0.5);
}
.b-modal-order__line--done {
    background-color: green;
    background-color: rgba(0, 128, 0, 0.5);
}

@-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}