﻿.b-order-list__order {
    border: 1px solid;
    margin: 10px 0px 0px 0px;
}
.b-order-list__order table {
    margin: 0px 0px 10px 0px;
}
.b-order-list__order tr td {
    padding: 5px 10px 5px 10px;
}
.b-order-list__order label {
    font-weight: bold;
}
.b-order-list__order-number--even {
	color: green;
}
.b-order-list__order-number--odd {
	color: blue;
}