﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="orders">
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="UTF-8" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Styles/style.css" />
    <link rel="stylesheet" href="~/Styles/orders.css" />
    <link rel="stylesheet" href="~/Styles/customer-details.css" />
    <link rel="stylesheet" href="~/Styles/modal.css" />
</head>
<body>
    <nav>
        <ul>
            <li><a href="#/orders">Orders</a></li>
            <li><a href="#/customer-details">Customer Details</a></li>
            <li>@Html.ActionLink("Log Out", "Logout", "Account")</li>
        </ul>
    </nav>
    @RenderBody()
    <footer>

    </footer>
    @Scripts.Render("~/bundles/angularjs")
    @Scripts.Render("~/bundles/app")
</body>
</html>
