﻿<section>
    <div class="l-customer-details">
        <div class="b-customer-details">
            <div class="b-customer-details__property">
                <label class="b-customer-details__label">Name:</label>
                <span class="b-customer-details__name">{{CustomerDetails.Name}}</span>
                <span class="b-customer-details__name" ng-if="!CustomerDetails.Name">None</span>
            </div>
            <div class="b-customer-details__property">
                <label class="b-customer-details__label">Address:</label>
                <span class="b-customer-details__address">{{CustomerDetails.Address}}</span>
                <span class="b-customer-details__name" ng-if="!CustomerDetails.Address">None</span>
            </div>
        </div>
    </div>
</section>