﻿<section>
    <div class="l-order-list" ng-if="Orders.length > 0">
        <ul class="b-order-list">
            <li class="b-order-list__order" ng-repeat="Order in Orders track by Order.Id" ng-click="ShowOrder(Order.Id)">
                <table>
                    <tr>
                        <td ng-class="Order.Number % 2 == 0 ? 'b-order-list__order-number--even' : 'b-order-list__order-number--odd'"><label>Number: </label>{{Order.Number}}</td>
                        <td><label>Creation Date: </label>{{Order.CreationDate}}</td>
                        <td rowspan="2"><label>State: </label>{{Order.StateName}}</td>
                        <td rowspan="2"><label>Summary: </label>{{Order.Summary}}</td>
                    </tr>
                    <tr>
                        <td><label>ID: </label>{{Order.Id | leadingZero:7}}</td>
                        <td><label>Life Time: </label>{{Order.LifeTime}}</td>
                    </tr>
                </table>
            <li>
        </ul>
    </div>
    <div ng-if="!Orders || Orders.length == 0">
        No orders
    </div>
</section>